{% extends "zapateria/base.html" %}

{% load static %}

{% block content %}

<header id="header">
  <h1>Carrito de Compras</h1>
  <div>
    <img id="carrito" class="carrito" src="{% static 'assets/IMG/carrito-de-compras.png' %}" alt="">
    <div id="numero"></div>
  </div>
</header>

<main>
  <div id="contenedor" class="contenedor"> </div>
</main>

<div id="contenedorCompra">
  <div class="informacionCompra" id="informacionCompra">
    <h2>Cesta</h2>
    <p class="x" id="x">x</p>
  </div>

  <div class="productosCompra" id="productosCompra"></div>
  <div class="total" id="total"></div>
  <button>Finalizar Compra</button>
</div>

{% endblock %}